.modal__background {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100%;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.modal__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spisok1 {
    display: flex;
    flex-wrap: wrap;
}

.spisok {
    margin: 0 1vw 0 1vw;
}

.modal__wrapper.open {
    height: 100%;
    display: block;
    
}

.modal__wrapper.close {
    height: 0;
    display: none;
}

.modal__body {
    max-width: 1000px;
    /* margin: auto; */
    background: white;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.sent, .modal-text {
    font-size: 2vw;
}

.modal-animal {
    font-size: 2vw;
}

.button-plus {
    background-color: black;
    color: white;
    border-style: none;
    margin-right: 0.6vw;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
}

.button-minus {
    background-color: black;
    color: white;
    border-style: none;
    margin-left: 0.6vw;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
}

.button-addbasket {
    background-color: black;
    color: white;
    border-style: none;
    margin-top: 2vw;
    font-size: 1.5vw;
    width: 13vw;
    height: 4vw;
    font-size: 1.5vw;
}

.modal__body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.modal__body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__close {
    text-align: right;
    margin-top: -15px;
    font-size: 30px;
    cursor: pointer;
    color: grey;
}

.tickets {
   margin: 0;
}

@medis (max-width: 640px) {
    .sent, .modal-text {
        font-size: 4vw;
    }
    
    .modal-animal {
        font-size: 4vw;
    }
    
    .button-plus {
        background-color: black;
        color: white;
        border-style: none;
        margin-right: 0.6vw;
        width: 2vw;
        height: 2vw;
        font-size: 1.2vw;
    }
    
    .button-minus {
        background-color: black;
        color: white;
        border-style: none;
        margin-left: 0.6vw;
        width: 2vw;
        height: 2vw;
        font-size: 1.2vw;
    }
    
    .button-addbasket {
        background-color: black;
        color: white;
        border-style: none;
        margin-top: 2vw;
        font-size: 1.5vw;
        width: 16vw;
        height: 4vw;
        font-size: 1.5vw;
    }
}