.container-footer {
    background: #2A8086;
    height: 5.73vw;
    display: flex;
    align-items: center;
}

.mariisav {
    color: #a6e9ca;
    margin-left: 32vw;
    margin-right: 27vw;
    font-size: 1.2vw;
}

.logo-s {
    margin-left: 9vw;
    width: 5.63vw;
    height: 4.32vw;
}

.logo-ui {
    width: 10.63vw;
    height: 2.5vw;
}

@media screen and (max-width: 1200px) {
    .container-footer {
        height: 10vw;
    }
    
    .mariisav {
        margin-left: 31vw;
        margin-right: 23vw;
        font-size: 2vw;
    }
    
    .logo-s {
        margin-left: 5vw;
        width: 7vw;
        height: 7vw;
    }
    
    .logo-ui {
        width: 14vw;
        height: 3.5vw;
    }
}

@media screen and (max-width: 640px) {
    .container-footer {
        height: 14vw;
    }
    
    .mariisav {
        margin-left: 29vw;
        margin-right: 20vw;
        font-size: 2.3vw;
    }
    
    .logo-s {
        margin-left: 5vw;
        width: 8vw;
        height: 8vw;
    }
    
    .logo-ui {
        width: 16vw;
        height: 4vw;
    }
}
